@font-face {
    font-family: 'alluraregular';
    src: url('fonts/allura-regular-webfont.woff2') format('woff2'),
         url('fonts/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    background: url(sunflowers.jpg) center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    margin-top: 10vh;
    background-color: rgba(98, 39, 2, 0.4);
    color: #FAB400;
    font-family: alluraregular;
    font-size: 3.5rem;
    font-weight: 600;
}

.photo-credit {
    margin-bottom: 1lh;
    color: #BAD5DF;
}

.photo-credit a:link {
    color: #FAB400;
}

.form-sec {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E9DE;
    font-family: montserratregular;
}

.pre-form-text {
    max-width: 50ch;
    margin: 0 0 5vh 4vw;
    font-size: 1.2rem;
    font-weight: 700;
}

.pre-form-text p:first-child {
    margin-bottom: 0.7lh;
}

.form-area {
    background-color: #F7F6F4;
}

.form-area p {
    margin: 0.8lh 0 0.8lh 4vw;
    font-size: 1.2rem;
    font-weight: 700;
}

.form-container {
    display: flex;
    margin: 0 0 1.3lh 4vw;
    column-gap: 5vw;
}

.form-col-1, .form-col-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1lh;
}

.label-input-pair {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.75rem;
    font-weight: 600;
    color: #494949;
}

input {
    appearance: none;
    width: 25ch;
    height: 1.7lh;
    border: 1px solid #8E8167;
    border-radius: 6px;
    box-shadow: none;
}

input:focus {
    border: 1px solid #6CB4EE;
    box-shadow: 5px 4px 5px -4px #8E8167;
}

input:invalid {
    border: 2px solid red;
}

.label-input-pair {
    position: relative;
}

#pwd:invalid + span::after, #confirm-pwd:invalid + span::after {
    position: absolute;
    bottom: -1.25lh;
    font-size: 0.6rem;
    color: red;
    content: "Must be at least 5 characters";
}

.btn-endtext {
    display: flex;
    flex-direction: column;
    row-gap: 1lh;
    margin: 1.3lh 0 0 4vw;
}

.btn-endtext button {
    max-width: 20ch;
    height: 2.5lh;
    font-size: 1.1rem;
    background-color: #355E1C;
    color: #F7F6F4;
    border-radius: 10px;
    box-shadow: 5px 4px 5px -4px #8E8167;
}

.btn-endtext button:hover {
    background-color: #477E26;
}

.btn-endtext p {
    font-size: 0.9rem;
    font-weight: 600;
}

.btn-endtext p a {
    color: #355E1C;
}