@font-face {
    font-family: 'alluraregular';
    src: url('fonts/allura-regular-webfont.woff2') format('woff2'),
         url('fonts/allura-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratregular';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    display: flex;
}

.sidebar {
    width: 40vw;
    height: 100vh;
    background: url(sunflowers.jpg) center/cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text {
    margin-top: 10vh;
    background-color: rgba(98, 39, 2, 0.4);
    color: #FAB400;
    font-family: alluraregular;
    font-size: 3.5rem;
    font-weight: 600;
}

.photo-credit {
    margin-bottom: 1lh;
    color: #BAD5DF;
}

.photo-credit a:link {
    color: #FAB400;
}

.form-sec {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D5E6EC;
    font-family: montserratregular;
}

.pre-form-text {
    max-width: 50ch;
    margin: 0 0 5vh 2vw;
    font-size: 1.2rem;
    font-weight: 700;
}

.pre-form-text p:first-child {
    margin-bottom: 0.7lh;
}